<script src="../../Public/utils/jquery/jquery-1.10.2.min.js"></script>
<script src="index.js"></script>
<include file="./Template/Customer/Common/header.html" />
<include file="./Template/Customer/Common/nav.html" />

<div id="page-wrapper">
    <form>
    <div class="form-group">
        <label for="pwInput">Password</label>
        <input type="password" class="form-control" id="pwInput" placeholder="Input password">
    </div>
    <button type="button" id="genBtn" class="btn btn-info">Check</button>

    <p id="errMsg1" class="errMsg" style="display: none; font-size:10px; color: red">
        Please enter a password.
    </p>
    </form>

    <!--Result area-->
    <div class="row">
      <div class="col-xs-4">Your password strength: </div>
      <div id="result" class="col-xs-6">
          <div id="ans"></div>
          <div id="analyze">
              <div class="checkbox">
                <label>
                    <input id = "includeSymbolCheckbox" name="condCheckbox" type="checkbox" checked> include sympbols
                </label>
                </div>
                <div class="checkbox">
                    <label>
                      <input id="includeNumCheckbox" name="condCheckbox" type="checkbox" checked> include numbers
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input id="includeLowCaseCheckbox" name="condCheckbox" type="checkbox" checked> include lower case characters
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input id="includeUpCaseCheckbox" name="condCheckbox" type="checkbox" checked> include upper case characters
                    </label>
              </div>
          </div>
      </div>
    </div>

</div>

<!-- /#page-wrapper -->
<include file="./Template/Customer/Common/footer.html" />
<include file="./Template/Customer/Common/foot.html" />