<include file="./Template/Customer/Common/header.html" />
<include file="./Template/Customer/Common/nav.html" />

<style type="text/css">
    .lj-alert h4{
        font-weight: 100;
    }
</style>

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">A short guide</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="alert alert-success lj-alert" role="alert">
            <h4>1.Register your account and log in the system. </h4>
            <h4>2.Save your passwords in the system and we will keep them safe. </h4>
            <h4>3.You can view and get your passwords from our system no matter when and where you are. </h4>
        </div>
    </div>


</div>
<!-- /#page-wrapper -->



<include file="./Template/Customer/Common/footer.html" />

<include file="./Template/Customer/Common/foot.html" />