<include file="./Template/Customer/Common/header.html" />
<include file="./Template/Customer/Common/nav.html" />

<style type="text/css">
    .lj-alert h4{
        font-weight: 100;
    }
</style>

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">A short guide</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="alert alert-success lj-alert" role="alert">
            <h4>1.Register your account and log in the system. </h4>
            <h4>2.Save your passwords in the system and we will keep them safe. </h4>
            <h4>3.You can view and get your passwords from our system no matter when and where you are. </h4>
        </div>
    </div>

    <!--<div class="row">-->
        <!--<input type="text" id="psd">-->
        <!--<input type="text" id="inp">-->
        <!--<div id="test">-->

        <!--</div>-->
        <!--<div id="result">-->

        <!--</div>-->
        <!--<button id="testBtn" onclick="test2();">test</button>-->
    <!--</div>-->


</div>
<!-- /#page-wrapper -->



<include file="./Template/Customer/Common/footer.html" />
<script src="__PUBLIC__/utils/encryption/sha256.js"></script>
<script src="__PUBLIC__/utils/encryption/aes.js"></script>
<script src="__PUBLIC__/utils/encryption/aes.ctr.js"></script>
<script type="text/javascript">
    function test(){
        document.getElementById("test").innerHTML = sha256_digest(document.getElementById("inp").value);
    }
    function test2(){
        var plaintext = document.getElementById("inp").value;
        var psd = document.getElementById("psd").value;
        var cipher = Aes.Ctr.encrypt(plaintext, psd, 256);
        document.getElementById("test").innerHTML =  cipher;
        document.getElementById("result").innerHTML =  Aes.Ctr.decrypt(cipher,psd,256);
    }
</script>

<include file="./Template/Customer/Common/foot.html" />