<script src="../../../../../Public/utils/jquery/jquery-1.10.2.min.js"></script>
<include file="./Template/Customer/Common/header.html" />
<include file="./Template/Customer/Common/nav.html" />
<style type="text/css">
    .lj-alert h4{
        font-weight: 100;
    }
</style>
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Read password</h1>
        </div>
    </div>
    <div class="col-xs-10 col-sm-8 col-md-6">

        <form class="form-horizontal" id="info-info-panel"  enctype="multipart/form-data">
            <present name="info.error">
                <div class="alert alert-danger" role="alert">{$info.error}</div>
            </present>
            
            <!--<div id="inputPart">-->
                <!--<p>-->
                    <!--Please enter the <span id="digit1"></span>, <span id="digit2"></span>, <span id="digit3"></span> digit of your second password.-->
                <!--</p>-->
                <!--<input class="col-sm-1" type="text" class="form-control" name="p1" id="pw1" maxlength="1" required>-->
                <!--<input class="col-sm-1" type="text" class="form-control" name="p2" id="pw2" maxlength="1" required>-->
                <!--<input class="col-sm-1" type="text" class="form-control" name="p3" id="pw3" maxlength="1" required>-->
                <!--<div class="form-group">-->
                    <!--<div class="col-sm-offset-5 col-sm-3">-->
                        <!--<button type="submit" class="btn btn-primary btn-block" id="readBtn">Read</button>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <!--<input type="text" class="form-control" name="p4" id="p4" style="display:none;" value="0">-->
            <!--<input type="text" class="form-control" name="p5" id="p5" style="display:none;" value="0">-->
            <!--<input type="text" class="form-control" name="p6" id="p6" style="display:none;" value="0">-->
            <!--<input type="text" class="form-control" name="p7" id="p7" style="display:none;" value="0">-->
            <input style="display: none;" id="pwd-id" value="{$info.pwd_id}">
            <div id="inputPart" class="row">
                <label class="col-sm-12">Please input your safety password : </label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" id="safety-password">
                </div>
                <div class="col-sm-3">
                    <input type="button" class="btn btn-primary btn-block" value="Read" onclick="pwd_check();">
                </div>
            </div>

            <hr>

            <div id="resultPart" style="display: none;">
                <div class="row">
                  <label class="col-sm-12">Your password: </label>
                    <div class="col-sm-8">
                        <input type="password" id="result" class="col-sm-8 form-control">
                    </div>
                  <div class="col-sm-3">
                      <button id="copyBtn" type="button" class="btn btn-secondary btn-block">Copy</button>
                  </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="__PUBLIC__/utils/encryption/sha256.js"></script>
<script src="__PUBLIC__/utils/encryption/aes.js"></script>
<script src="__PUBLIC__/utils/encryption/aes.ctr.js"></script>
<script>
    function pwd_check(){
        var pwd = $('#safety-password').val();
        var url = "__APP__/Customer/Password/check_safety_pwd";
        var data = {pwd : pwd};
        $.post(url, data, function (res) {
            if(res.code==0){
                pwd_read(res.salt);
            } else {
                alert("Wrong safety password!");
            }
        });
    }

    function pwd_read(salt){
        var pwd_id = $('#pwd-id').val();
        var pwd = $('#safety-password').val();
        var enc_pwd = pwd+salt;
        var data = {pwd_id : pwd_id};
        var url = "__APP__/Customer/Password/read_pwd";
        $.post(url, data, function (res) {
            if(res.code==0){
                var ciphertext = res.pwd;
                var final_pwd = Aes.Ctr.decrypt(ciphertext,enc_pwd,256);
                document.getElementById("result").innerHTML = final_pwd;
                document.getElementById("result").value = final_pwd;
                document.getElementById("resultPart").style.display = "block";
            } else {
                alert(res.code);
                alert("Failed to read your password, please try again!");
            }
        });
    }

    $(document).ready(function(){

//        //select 3 random digit and show to user
//        $('#digit1').text(<?php print($info['randDigit1']);?>);
//        $('#digit2').text(<?php print($info['randDigit2']);?>);
//        $('#digit3').text(<?php print($info['randDigit3']);?>);
//        $('#p4').val(<?php print($info['randDigit1']);?>);
//        $('#p5').val(<?php print($info['randDigit2']);?>);
//        $('#p6').val(<?php print($info['randDigit3']);?>);
//
//        //hide input part if result is got
//        if (<?php print($info['found']);?> == true){
//            $('#inputPart').hide();
//        }else {
//            $('#resultPart').hide();
//        }
//
//        //set requested pw id
//        var x = location.href.split("/");
//        var id = x[x.length-1]
//        $('#p7').val(id);

        //copy function
        $("#copyBtn").on('click', copyToClipboard);

        function copyToClipboardFF(text) {
            window.prompt ("Copy to clipboard: Ctrl C, Enter", text);
        }

        function copyToClipboard() {
          var input = $("#result");

          var success = true,
             range = document.createRange(),
             selection;

         // For IE.
         if (window.clipboardData) {
           window.clipboardData.setData("Text", input.text());
         } else {
           // Create a temporary element off screen.
           var tmpElem = $('<div>');
           tmpElem.css({
             position: "absolute",
             left:     "-1000px",
             top:      "-1000px",
           });
           // Add the input value to the temp element.
           tmpElem.text(input.text());
           $("body").append(tmpElem);
           // Select temp element.
           range.selectNodeContents(tmpElem.get(0));
           selection = window.getSelection ();
           selection.removeAllRanges ();
           selection.addRange (range);
           // Lets copy.
           try {
             success = document.execCommand ("copy", false, null);
           }
           catch (e) {
             copyToClipboardFF(input.val());
           }
           if (success) {
             // remove temp element.
             tmpElem.remove();
              }
          }
        }
    });
</script>
<include file="./Template/Customer/Common/footer.html" />
<include file="./Template/Customer/Common/foot.html" />